body{
    position: relative;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/criss-cross.png);
    
  
}

#heading{
    font-family:  'Georgia', Times, 'Times New Roman', 'serif';
    background:#ffffff;
}

.main-header{
    background: #4aaaa5;
    border: 1px solid #cccccc;
    margin-top: 20px;
    padding-right: 20px;
    text-align: center;
    width: 370px;
    margin-bottom: 0px;
    color: white;
    border-radius: 3px;
    
}


#link_wrapper{
    float: right;
    color: teal;

    
}
.a_link{
    color: #777777;
    font-size: 18px;
    text-decoration: none;
}
.box-set{
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #dddddd;
    padding-bottom: 15px;
}

.main{
    clear: both;
    border: 1px  #dddddd;
    background: #ffffff;
    margin: 0 auto; 
    width: 900px;   
    padding-bottom: 0px; 
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;

}
#sub_text{
    color: #4aaaa5;
    margin: 20px;
    padding: 10px;
    padding-left: 0;
    font-family:  'Georgia', Times, 'Times New Roman', 'serif';

}

form{
    clear: both;
    border: 1px  #dddddd;
    background: #ffffff;
    margin: 0 auto;   
    margin-right: 30px;
     
    

}
 
#line{
    border-bottom: 2px solid #dddddd;
}

#fields{
    margin-left: 20px;
    margin-top: 15px;
    color: #777777;
    font-weight: normal;
    
}

input[type=text]{

    width: 89%; 
    padding: 10px 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1.2px solid #dddddd;
     
}

textarea{
    width: 90%;
    height: 150px;
    border-radius: 3px;
    overflow-wrap: break-word;
    border: 1.2px solid #dddddd;
    box-sizing: border-box;
    resize: none;
   
}
input[type=submit]{
    padding: 15px 40px;
     
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 0px;
    background: #4aaaa5;
    color: white;
    border: 1.2px solid #cccccc;
    text-align: center;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
 p{   
    font-weight: 50px;
    color: #777777;
    line-height: 250%;
    margin-top: 10px;
    padding-top: 10px;
}
.icon{

    background:#4aaaa5;
    margin-top: 10px;
}

.footer{
    background: #666666;
    padding: 20px;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    flex-shrink: 0;
    margin-top: 0px;
    position: absolute;
    width: 100%;
}


@media only screen 
and (min-width: 769px)
and (max-width: 980px){
    #link_wrapper{
        float: right;  
        word-spacing: 15px;
        font-size: 18px; 
        
    }
    
    .main{
        width: 790px;
    }

}



@media only screen 
and (min-width: 641px)
and (max-width: 768px){
    .all_images{
        margin: 0 auto;
        left: 70px;
    }
    
         .main{
             width: 600px;
         }
}
 

    @media screen and (min-width:320px) and (max-width:640px) {
        .main-header{
            width: 100%;
            text-align:center;
            
            
        }
        #link_wrapper {
            width: 100%;
            left: 0px;
            text-align: center;
            word-spacing: 15px;
            font-size: 18px; 
            margin-top: -30px;   
        }
       
             
         
         .P-img{
             display: block;
             float: none;
             margin: 10px !important; 
             left: 30px;
             
         }
         .main{
             width: 420px;
         }


    }