
body{
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url(../images/criss-cross.png);
   
  
}

#heading{
    font-family:  'Georgia', Times, 'Times New Roman', 'serif';
     background:#ffffff; 
}

 
.main-header{
    background: #4aaaa5;
    border: 1px solid #cccccc;
    margin-top: 20px;
    padding-right: 20px;
    text-align: center;
    width: 370px;
    margin-bottom: 0px;
    color: white;
    border-radius: 3px;
    
}

.link_wrapper{
    margin-top: 30px; 
    word-spacing: 15px; 
   
    
}

.a_link{
    color: #777777;
    font-size: 18px;
    text-decoration: none;
}


.box-set{
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #dddddd;
    background-image: url(/Portfolio/assets/images/criss-cross.png);
    padding-bottom: 15px;
}

.main{
    clear: both;
    border: 1px  #dddddd;
    background: #ffffff;
    margin: 0 auto; 
    width: 900px;   
    padding-bottom: 0px; 
    margin-top: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
}


#sub_text{
    color: #4aaaa5;
    margin: 10px;
    padding: 0px;
    padding-left: 0;
    font-family:  'Georgia', Times, 'Times New Roman', 'serif';
    font-size:30px;
}
.line{
    border-bottom: 2px solid #dddddd;

}



.P-img{
    width: 250px;
    float: left; 
    padding-right:30px; 
    /* margin-top: 10px; */
    padding-top: 10px; 
}

.decoration{
    text-decoration: underline;
    font-weight: bold;
    
}

p{
    font-weight: 40px;
    color: #777777;
    line-height: 170%;
    /* margin-top: 10px; */
    padding-top: 10px;
    padding-left: 0px;
}

.clearfix {
    overflow: auto;
  }
 
    .footer{
        background: #666666;
        padding: 20px;
        border-top: 8px solid #4aaaa5;
        text-align: center;
        flex-shrink: 0;
        margin-top: 0px;
        position: absolute;
        width: 100%;
    }
  
  .a_link{
    color: #777777;
    font-size: 18px;
    text-decoration: none;
  }
  .icon{

    background:#4aaaa5;
    margin-top: 10px;
}

  
@media only screen 
and (min-width: 769px)
and (max-width: 1280px){
    #link_wrapper{
        float: right;  
        word-spacing: 15px;
        font-size: 18px; 
        
    }
    
    .main{
        width: 790px;
    }

}

@media only screen 
and (min-width: 641px)
and (max-width: 768px){
    .all_images{
        margin: 0 auto;
        left: 70px;
    }
    
         .main{
             width: 600px;
         }
}
 
    @media screen and (min-width:320px) and (max-width:640px) {
        .main-header{
            width: 100%;
            text-align:center;
            
            
        }
        #link_wrapper {
            width: 100%;
            left: 0px;
            text-align: center;
            word-spacing: 15px;
            font-size: 18px; 
            margin-top: -30px;   
        }
         p{
             display: inline;
             max-width: 25%;
             
         }
         .P-img{
             display: block;
             float: none;
             margin: 10px auto !important; 
             left: 30px;

             
         }
         .main{
             width: 420px;
         }


    }
